ol,
ul {
  list-style: none;
}

#group-of-image button {
  background: none;
  border: none;
  padding: 0;
}
img{
  max-width: 100%;
  height: auto;
}

.return-btn {
  opacity: 0;
}

.return-btn:focus,
.return-btn:active {
  opacity: 1;
}

.modal-container{
  display: none;
}


